stripe/vendor
Docker/drupal/drupal/*
Docker/drupal/data/*
Docker/drupal89/*
Docker/drupal9/*
Docker/drupal91/*
Docker/drupal912/*
Docker/drupaldockfile/files/*
Docker/drupaldrush/*
Docker/drupal9.zip
Docker/nodeproject/app/*
Docker/nodeproject/data/*
Docker/phpmariadbstrapi/app/*
Docker/phpmariadbstrapi/data/*
Docker/phpmyadminmariadb/app/*
Docker/phpmyadminmariadb/data/*
Docker/phpmyadminmariadbnode/app/*
Docker/phpmyadminmariadbnode/data/*
Docker/phpmysql/app/*
Docker/phpmysql/data/*
Docker/phppostgressstrapi/app/*
Docker/phppostgressstrapi/data/*
Docker/*/.env
*/*/.metadata
*/node_modules
*/*/node_modules
*/*/*/.settings
*/*/.idea
*/.vscode