<table class="clientkeys-table">
  <tr>
    <th>App</th>
    <th>Client Key</th>
    <th>Client Secret</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>site1</td>
    <td>asdasd</td>
    <td>asdasdf</td>
    <td><a type="button"  href="/api-keys/{{ uid }}/1/edit" class="edit-clientkey" target="_blank">Edit Client Key</a> | <button type="button" class="delete-clientkey">Delete Client Key</button></td>
  </tr>
</table>
